@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(3 7 18);
    color: rgb(209 213 219);
}

input:-webkit-autofill {
    caret-color: rgb(243 244 246);
    -webkit-box-shadow: 0 0 0 30px rgba(17, 24, 39) inset !important;
    -webkit-text-fill-color: rgb(243 244 246) !important;
    background-color: rgb(17, 24, 39) !important; /* Added background-color */
}

.animate-toast {
    animation: slideInUp 0.5s ease-out forwards; /* Adjust the duration as needed */
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

select#size-select option {
    background-color: rgba(
        17,
        24,
        39,
        1
    ); /* Adjust the background color as needed */
    color: rgb(209 213 219); /* Adjust the text color as needed */
}

.clip-path-polygon {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.clip-path-left {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.clip-path-right {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.image-zoom {
    transition: transform 0.5s ease-in-out;
}
.image-zoom-container:hover .image-zoom {
    transform: scale(1.2);
}
.clip-path-left:hover .image-zoom {
    transform: scale(1.2);
}
.clip-path-right:hover .image-zoom {
    transform: scale(1.2);
}

.wave {
    background-image: url("../../public/assets/image/wave-haikei.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.wave-to-black {
    background-image: url("../../public/assets/image/wave-to-black.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-background-color: rgb(17, 24, 39);
    background-color: rgb(17, 24, 39) !important;
}

.neon {
    display: inline-block;
    text-shadow: 0 0 42px rgb(0, 17, 255), 0 0 20px rgb(0, 17, 255),
        0 0 20px rgb(0, 17, 255), 0 0 140px rgb(0, 17, 255),
        0 0 59px rgb(0, 17, 255);
    -webkit-text-stroke: 3px rgb(0, 119, 255);

    color: transparent;
}

input[type="time"]::-webkit-clear-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
    color: white;
    margin: 0;
}

.sidebar-link.active {
    background-color: #4a90e2;
    color: #ffffff;
}

.border-blue {
    border-left: 4px solid #3b82f6;
}
